{{#partial "content"}}
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark ">
            <a class="navbar-brand ms-5"><img class="pro" src="/images/pro.jpg">VIBE</span>ZON3</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#yes"
                    aria-label="toggle navigation"
                    aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse me-5" id="yes">
                <ul class="navbar-nav ms-auto">
                    <li><a class="nav-link  p2 px-4">Home</a></li>
                    <li><a class="nav-link  p2 px-4">Artists</a></li>
                    <li><a class="nav-link  p2 px-4">Labels</a></li>
                    <li><a class="nav-link  p2 px-4">News</a></li>
                </ul>
            </div>
        </nav>
    </div>

{{/partial}}
{{>layout.hbs}}