{{#block "header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4e03be8471.js" crossorigin="anonymous"></script>
    </head>
    <body>
{{/block}}

{{#block "content"}}

{{/block}}
{{#block "footer"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12  text-center text-white mt-5">

                <img src="/images/behance.png" alt="">
                <img src="/images/facebook.png" alt="">
                <img src="/images/skype.png" alt="">
                <img src="/images/flickr.png" alt="">
                <img src="/images/pinterest.png" alt="">
                <img src="/images/you_tube.png" alt="">

                <p>All rights reserved</p>

            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>
{{/block}}
{{>layout.hbs}}