@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&display=swap');

body{
background-image: url("../images/backg.jpg");
background-position: center;
  background-repeat: no-repeat;
background-color: white;
      background-blend-mode: multiply;
   background-blend-mode: multiply;
  background-size: cover;
}
img{
opacity: 1;
}

.cont{
    width: 98%;
    border-radius: 5px;
    height: 150px;
}
a:link {
  text-decoration: none;
}
li.list-item:hover{
  color: green;
}
a.nav-link{
color:white;
}
a.nav-link:hover, a:active {
  background-color: grey;
  color: white;
}
a > h5:hover {
color: blue;
}
a.navbar-brand:hover{
 background-color:  inherit;
  color: white;
}


.sideNav{
    border-bottom: 1px solid rgb(2, 7, 24);
    border-right: 1px solid rgb(2, 7, 24);
}
.mainCont{
    background-color: grey;
  background-blend-mode: multiply;
   background-blend-mode: multiply;
    opacity: .7;
 border: 1px;
    border-radius: 10px;

}

.pro{
    height: 50px;
    width: 60px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 1px grey;
}
.button1{
    height: 50px;
    width: 100px;
    border-radius: 20px;
}
span{
    color: yellow;
}
h3{
    color: blue;
}
a.navbar-brand{
    font-family: 'Alfa Slab One', cursive;
    color: blue!important;
}

form{
    align-items: center;
    color: white;
   background-image: url("images/header.jpg");
    background-color:grey;
    background-blend-mode: multiply;
     background-blend-mode: multiply;
    height: auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.fa-regular{
    color: rgb(197, 197, 55)!important;
    font-size: 20px;
}
.row1{
    width: 25%;
}
.cont1{
    background-color: grey;
    opacity: .7;
    border: 1px;
    border-radius: 10px;
}
.tag{
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
}
a.me-5{
 background-color: grey;
}
#myButt{
    background-color: grey;
    width: 30px;
}

.btn{
background-color:grey;
}

.text-end{
color: white;
}
.footer-img{
background-image: url("/images/vibes-retro.gif");
border-radius: 30px;
 height: 13rem;
  width:20rem;
  background-position: center;
     background-repeat: no-repeat;

}


