{{#partial "content"}}

    <div class="container-fluid ">

        <nav class="navbar navbar-expand-sm main1" style="width: 100%;">
            <div class="w-50">
                <a class="navbar-brand ms-5"><img class="pro me-2" src="./images/pro.jpg" alt="logo"><span>VIBE</span>ZON3</a>

            </div>
            <div class="w-50 ms-auto d-flex justify-content-end">
                <button class="button1 btn-light mx-3 ">Sign up</button>
                <button class="button1 btn-light mx-3">login</button>
            </div>

        </nav>

        <div class="row text-white">
            <h1 class="text-center" style="font-family: 'Fira Sans', sans-serif;">Welcome to Vibe<span>Zone</span></h1>
            <div class="col-sm-2">
                <div class="d-flex sideNav flex-column flex-shrink-0 p-3 text-white" style="width: 100%; height: 100%;">
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link text-white" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="/"></use></svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/artists" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                Artists
                            </a>
                        </li>
                        <li>
                            <a href="/labels" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                Labels
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                Top News
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                About
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/label.jpeg" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>Account</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 d-flex flex-column align-items-center justify-content-center  ">
                <h4 class="mt-5 mb-3">Where great Music Lives</h4>
                <div class="mainCont d-flex w-100 ">
                    <div class="cont1 w-50 ">
                        <div class="first d-flex flex-column align-items-center">
                            <h5 class="my-3">Featured Artist</h5>
                            <img class="cont" src="/images/jj.jpeg" alt="">
                        </div>
                        <p class="m-1">Artist Name</p>
                        <p class="m-1">Record Label</p>
                        <p class="text-center">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                    </div>

                    <div class="cont2 w-50">
                        <div class="first d-flex flex-column align-items-center">
                            <h5 class="my-3">Featured Artist</h5>
                            <img class="cont" src="/images/lack.webp" alt="">
                        </div>
                        <p class="m-1">Artist Name</p>
                        <p class="m-1">Record Label</p>
                        <p class="text-center">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <h4 class="mt-5 mb-3 text-center">Check out the greatest record labels around</h4>
                <div class="mainCont d-flex w-100 ">

                    <div class="cont1 w-50">
                        <div class="first d-flex flex-column align-items-center">
                            <h5 class="my-3">Record Label</h5>
                            <img class="cont" src="/images/label3.png" alt="">
                        </div>
                        <p class="m-1">Label Name</p>
                        <p class="m-1">Label Owner</p>
                        <p class="text-center">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                    </div>
                    <div class="cont2 w-50">
                        <div class="first d-flex flex-column align-items-center">
                            <h5 class="my-3">Record Label</h5>
                            <img class="cont" src="/images/img5.webp" alt="">
                        </div>
                        <p class="m-1">Label Name</p>
                        <p class="m-1">Label Owner</p>
                        <p class="text-center">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}